<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false" scan="true">

	<property name="LOG_HOME" value="./logs" />

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>
				%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n
			</pattern>
			<outputPatternAsHeader>true</outputPatternAsHeader>
		</encoder>
	</appender>

	<appender name="DOMOTICA-LOG"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${LOG_HOME}/domotica.log</file>
		<encoder>
			<pattern>
				%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n
			</pattern>
			<outputPatternAsHeader>true</outputPatternAsHeader>
		</encoder>

		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- rollover daily -->
			<fileNamePattern>${LOG_HOME}/archived/domotica.%d{yyyy-MM-dd}.%i.log
			</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>10MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
	</appender>

	<appender name="ERROR-LOG"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>warn</level>
		</filter>
		<file>${LOG_HOME}/error.log</file>
		<encoder>
			<pattern>
				%d{yyyy-MM-dd HH:mm:ss} %-5level %logger{36} - %msg%n
			</pattern>
			<outputPatternAsHeader>true</outputPatternAsHeader>
		</encoder>

		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- rollover daily -->
			<fileNamePattern>${LOG_HOME}/archived/error.%d{yyyy-MM-dd}.%i.log
			</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>10MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
	</appender>

	<appender name="FREQFILE" class="ch.qos.logback.core.FileAppender">
		<file>${LOG_HOME}/freq.log</file>
		<append>true</append>
		<encoder>
			<pattern>
				%d{yyyy-MM-dd HH:mm:ss} %msg%n
			</pattern>
			<outputPatternAsHeader>true</outputPatternAsHeader>
		</encoder>
	</appender>

	<appender name="WINDFILE" class="ch.qos.logback.core.FileAppender">
		<file>${LOG_HOME}/wind.log</file>
		<append>true</append>
		<encoder>
			<pattern>
				%d{yyyy-MM-dd HH:mm:ss} %msg%n
			</pattern>
			<outputPatternAsHeader>true</outputPatternAsHeader>
		</encoder>
	</appender>

	<appender name="LIGHTFILE" class="ch.qos.logback.core.FileAppender">
		<file>${LOG_HOME}/light.log</file>
		<append>true</append>
		<encoder>
			<pattern>
				%d{yyyy-MM-dd HH:mm:ss} %msg%n
			</pattern>
			<outputPatternAsHeader>true</outputPatternAsHeader>
		</encoder>
	</appender>

	<appender name="MONITOR-LOG"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${LOG_HOME}/monitor.log</file>
		<encoder>
			<pattern>
				%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n
			</pattern>
			<outputPatternAsHeader>true</outputPatternAsHeader>
		</encoder>

		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- rollover daily -->
			<fileNamePattern>${LOG_HOME}/archived/monitor.%d{yyyy-MM-dd}.%i.log
			</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>10MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
	</appender>

	<appender name="DRIVER-LOG"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${LOG_HOME}/driver.log</file>
		<encoder>
			<pattern>
				%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n
			</pattern>
			<outputPatternAsHeader>true</outputPatternAsHeader>
		</encoder>

		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- rollover daily -->
			<fileNamePattern>${LOG_HOME}/archived/driver.%d{yyyy-MM-dd}.%i.log
			</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>10MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
	</appender>


	<root>
		<appender-ref ref="STDOUT" />
		<appender-ref ref="ERROR-LOG"/>
	</root>

	<logger name="FREQ" level="off" />
	<logger name="WIND" level="info" additivity="false">
		<appender-ref ref="WINDFILE" />
	</logger>
	<logger name="LIGHT" level="info" additivity="false">
		<appender-ref ref="LIGHTFILE" />
	</logger>
	<logger name="DRIVER" level="info" additivity="false">
		<appender-ref ref="DRIVER-LOG" />
	</logger>
	<logger name="MONITOR" level="off" additivity="false">
		<appender-ref ref="MONITOR-LOG" />
	</logger>

	<!-- Domotica zie onder; additivity false anders gaat het ook naar error.log -->
	<logger name="eu.dlvm" level="info" additivity="false">
		<appender-ref ref="DOMOTICA-LOG" />
		<appender-ref ref="ERROR-LOG"/>
	</logger>

	<!-- Jetty vanaf info; additivity false anders gaat het ook naar error.log -->
	<logger name="org.eclipse.jetty" level="info" additivity="false">
		<appender-ref ref="DOMOTICA-LOG" />
		<appender-ref ref="ERROR-LOG"/>
	</logger>

</configuration>
